In [1]:
import sys
import pandas as pd
import os
from pathlib import Path


sys.path.append("..")

In [2]:
# Ignore warnings
import warnings
warnings.filterwarnings('ignore', category = FutureWarning)

## Import data set

In [5]:
DATASET_ROOT_PATH = "../data"
os.makedirs(DATASET_ROOT_PATH, exist_ok=True)

UNIVERSE_TRAIN = str(Path(DATASET_ROOT_PATH) / "archive/universe_train.csv")

UNIVERSE_TEST = str(Path(DATASET_ROOT_PATH) / "archive/universe_test.csv")

BALANCES = str(Path(DATASET_ROOT_PATH) / "archive/balances.csv")

CUSTOMERS = str(Path(DATASET_ROOT_PATH) / "archive/customers.csv")

LIABILITIES = str(Path(DATASET_ROOT_PATH) / "archive/liabilities.csv")

MOVEMENTS = str(Path(DATASET_ROOT_PATH) / "archive/movements.csv")

SAMPLE_SUBMISSION = str(Path(DATASET_ROOT_PATH) / "archive/sample_submission.csv")

DICCIONARIO_DE_DATOS = str(Path(DATASET_ROOT_PATH) / "diccionario_de_datos.csv")

DIGITAL = str(Path(DATASET_ROOT_PATH) / "digital.csv")

## Create data frames

In [6]:
universe_train = pd.read_csv(
    UNIVERSE_TRAIN, delimiter=',', encoding="latin1"
)

universe_test = pd.read_csv(
    UNIVERSE_TEST, delimiter=',', encoding="latin1"
)

balances = pd.read_csv(
    BALANCES, delimiter=',', encoding="latin1"
)

customers = pd.read_csv(
    CUSTOMERS, delimiter=',', encoding="latin1"
)

movements = pd.read_csv(
    MOVEMENTS, delimiter=',', encoding="latin1"
)

liabilities = pd.read_csv(
    LIABILITIES, delimiter=',', encoding="latin1"
)

sample_submission = pd.read_csv(
    SAMPLE_SUBMISSION, delimiter=',', encoding="latin1"
)

digital = pd.read_csv(
    DIGITAL, delimiter=',', encoding="latin1"
)

diccionario_de_datos = pd.read_csv(
    DICCIONARIO_DE_DATOS, delimiter=',', encoding="latin1"
)

### Universe Train

In [7]:
# Columns
universe_train.columns

Index(['ID', 'attrition', 'period'], dtype='object')

In [8]:
num_unique_values = universe_train.nunique() 
print(num_unique_values)

ID           535943
attrition         6
period            6
dtype: int64

In [9]:
# Data dimension
print(f"Data dimension: {universe_train.shape[0]} rows and {universe_train.shape[1]} columns")
universe_train.head()

Data dimension: 535943 rows and 3 columns

                                                  ID  attrition    period
0  4d5a33701cb5b30b0b0a924d80de4ae78fbd0b54e2117f...          0  period_5
1  bf7092e5f394d266143dfe90b3fc73eac51f0b0084d7a3...          0  period_5
2  270d8f8f607d19886c50edb7746c3670194134b56d31e2...          0  period_5
3  5e6b7bea5e4911329669f45728d3398ad54dfe11fbb16d...          0  period_5
4  98954adf775b9fce1c9e311a025ec3e0a1c6e90f991ef7...          0  period_5

### Universe Test

In [10]:
# Columns
universe_test.columns

Index(['ID', 'period'], dtype='object')

In [11]:
num_unique_values = universe_test.nunique() 
print(num_unique_values)

ID        273636
period         3
dtype: int64

In [22]:
# Data dimension
print(f"Data dimension: {universe_test.shape[0]} rows and {universe_test.shape[1]} columns")
universe_test.head()

Data dimension: 273636 rows and 2 columns

                                                  ID    period
0  20b427c65c62ee0177adfa300bbf9f93ba2e46c86d5bc7...  period_9
1  4881d4a2146002a02279bedb6f0a844af022b4dd1d8b1b...  period_9
2  28ff12351f215091b54166a09ca44858f3d7f6245f281c...  period_9
3  5cd2c0dc92c1c5ffa83a94f15756cef5c58174e9d8c69a...  period_9
4  ceebdd2bbaafd83d8c205e8071b79da5338e9db94c9509...  period_9

### Balances

In [13]:
# Columns
balances.columns

Index(['month', 'ID', 'type', 'product', 'entity', 'balance_amount',
       'days_default', 'period'],
      dtype='object')

In [14]:
num_unique_values = balances.nunique() 
print(num_unique_values)

month                 12
ID                505697
type                   6
product                7
entity                 5
balance_amount     38548
days_default         210
period                 9
dtype: int64

In [21]:
# Data dimension
print(f"Data dimension: {balances.shape[0]} rows and {balances.shape[1]} columns")
balances.head()

Data dimension: 11597785 rows and 8 columns

,month,ID,type,product,entity,balance_amount,days_default,period
0,11,c844ef92b32ec94baaf565a3d22cfa20fd1544a0f8efab...,type_7,product_2,entity_2,3.4051,5.0,period_5
1,10,c817cb3a37a6b640304e87fafd7cd8569bfffb650a5aa3...,type_7,product_2,entity_1,3.4003,5.0,period_5
2,6,1d1f726d844c5a343cca1bbfd0c2b869559f5910772c5e...,type_7,product_2,entity_5,3.0592,5.0,period_5
3,6,7c77a3fd230db16988cb2e6ca23779c756f86895dfe254...,type_7,product_2,entity_2,2.8013,5.0,period_5
4,11,a8702fb4fbdcb735619d6fbd0a5fed46096cdaba80ea35...,type_7,product_2,entity_2,2.9850,5.0,period_5

### Customers

In [16]:
# Columns
customers.columns

Index(['ID', 'age', 'income', 'time_from_specialized', 'type_job',
       'bureau_risk', 'payroll', 'product_1', 'product_2', 'product_3',
       'product_4', 'ofert_1', 'ofert_2', 'ofert_3'],
      dtype='object')

In [18]:
# Unique values
num_unique_values = customers.nunique() 
print(num_unique_values)

ID                       809579
age                       15395
income                    14072
time_from_specialized     20324
type_job                      7
bureau_risk                   9
payroll                   22474
product_1                     2
product_2                     2
product_3                     2
product_4                     2
ofert_1                       2
ofert_2                       2
ofert_3                       2
dtype: int64

In [20]:
# Data dimension
print(f"Data dimension: {customers.shape[0]} rows and {customers.shape[1]} columns")
customers.head()

Data dimension: 809579 rows and 14 columns

,ID,age,income,time_from_specialized,type_job,bureau_risk,payroll,product_1,product_2,product_3,product_4,ofert_1,ofert_2,ofert_3
0,42af3bf64c2c14307361e970e76c9653df78b215838971...,4.2484,4.1259,0.0,type_2,category_4,4.8095,Yes,No,No,Yes,No,No,No
1,5ab9acd6dc30e0e9361ca53e797b40f68841bd698d0926...,4.6903,3.9570,0.0,type_7,category_9,0.0000,No,No,No,Yes,No,No,No
2,8e40f988dd93417a0a40c32e65386425d891c879fedf4c...,4.1682,4.4640,0.0,type_7,category_5,0.0000,No,No,No,Yes,No,No,No
3,0e48974ce6e81d9e81a8da780521a2f98fb2385dc879df...,3.9651,4.0966,0.0,type_7,category_3,0.0000,Yes,Yes,Yes,Yes,No,No,No
4,e033c53b4fb230de5da6868503a9e079b289e064d62de4...,3.9576,4.1876,0.0,type_7,category_5,0.0000,Yes,No,No,Yes,No,No,No

### Liabilities

In [23]:
# Columns
liabilities.columns

Index(['month', 'ID', 'product_1', 'product_2', 'period'], dtype='object')

In [24]:
# Unique values
num_unique_values = liabilities.nunique() 
print(num_unique_values)

month            12
ID           790580
product_1     44516
product_2     43130
period            9
dtype: int64

In [25]:
# Data dimension
print(f"Data dimension: {liabilities.shape[0]} rows and {liabilities.shape[1]} columns")
liabilities.head()

Data dimension: 8876560 rows and 5 columns

,month,ID,product_1,product_2,period
0,11,c7a6cecac361a970ee6c7cb9f2679c38c668940c6ebdc5...,4.1900,0.0,period_5
1,12,68f89dc7efe7cd1ce3cf6d52d8867bd2b84f236736bf91...,4.4621,0.0,period_5
2,2,e3f6afb18792d0b97cb9a63ad9567bbd106146c78d212a...,4.2878,0.0,period_5
3,1,8993170400939d522bdc72707527f5ab90202119fe3cab...,5.0000,5.0,period_5
4,7,399d686897232a55c713d61a6bdc7e232ab85b864d6288...,3.8922,0.0,period_5

### Movements

In [26]:
# Columns
movements.columns

Index(['period', 'ID', 'month', 'type_1', 'type_2', 'type_3', 'type_4'], dtype='object')

In [27]:
# Unique values
num_unique_values = movements.nunique() 
print(num_unique_values)

period         9
ID        528728
month         12
type_1     37419
type_2     31262
type_3     32486
type_4     35003
dtype: int64

In [28]:
# Data dimension
print(f"Data dimension: {movements.shape[0]} rows and {movements.shape[1]} columns")
movements.head()

Data dimension: 3697738 rows and 7 columns

,period,ID,month,type_1,type_2,type_3,type_4
0,period_9,a66d4bbb5278c8a586e03d81e1be8d3590060d8f37fb8c...,12,0.0000,0.0000,0.0000,3.9437
1,period_9,0d0a4fb4f1c98add65a45cf8882e1d81848502143f4ae2...,1,3.7397,3.3499,0.0000,0.0000
2,period_9,a5b9c4d7ae3dfe5cc1c0ca073b0cb0369e1389bfec5c56...,4,3.6273,3.9726,3.6655,4.4131
3,period_9,8a583965c827c377690b816c90246eaedc499f03a5f25f...,8,3.7855,4.8286,5.0000,4.5094
4,period_9,e53bf4249c7d6d573d532b8b0bad7ffe2fb203a4f00675...,7,2.6077,3.9344,1.3229,3.8061

### Sample Submission

In [29]:
# Columns
sample_submission.columns

Index(['period', 'ID', 'target'], dtype='object')

In [30]:
# Unique values
num_unique_values = sample_submission.nunique() 
print(num_unique_values)

period         3
ID        273636
target         1
dtype: int64

In [32]:
# Data dimension
print(f"Data dimension: {sample_submission.shape[0]} rows and {sample_submission.shape[1]} columns")
sample_submission.head()

Data dimension: 273636 rows and 3 columns

     period                                                 ID  target
0  period_9  20b427c65c62ee0177adfa300bbf9f93ba2e46c86d5bc7...       0
1  period_9  4881d4a2146002a02279bedb6f0a844af022b4dd1d8b1b...       0
2  period_9  28ff12351f215091b54166a09ca44858f3d7f6245f281c...       0
3  period_9  5cd2c0dc92c1c5ffa83a94f15756cef5c58174e9d8c69a...       0
4  period_9  ceebdd2bbaafd83d8c205e8071b79da5338e9db94c9509...       0

### Diccionario de datos

In [33]:
# Columns
diccionario_de_datos.columns

Index(['Tabla', 'Campo', 'Descripción', 'Ejemplo'], dtype='object')

In [34]:
# Unique values
num_unique_values = diccionario_de_datos.nunique() 
print(num_unique_values)

Tabla           6
Campo          39
Descripción    40
Ejemplo        32
dtype: int64

In [37]:
# Data dimension
print(f"Data dimension: {diccionario_de_datos.shape[0]} rows and {diccionario_de_datos.shape[1]} columns")
diccionario_de_datos

Data dimension: 50 rows and 4 columns

,Tabla,Campo,Descripción,Ejemplo
0,universe,period,Periodo de extracción de los datos,period_1
1,universe,ID,Identificador único,292d7d9062d3c9e8448dd04236ef3389a04e517d057883...
2,universe,attrition,Motivo de abandono del segmento objetivo,2
3,balances,period,Periodo de extracción de los datos (periodo t-0),period_2
4,balances,ID,Identificador único,8b5c7e448f921b03ae8fa494e28191829377596e1956a0...
5,balances,month,Mes de datos (1: indica que es el primer mes (...,6
6,balances,type,"Tipo de crédito (personal, hipotecario, comerc...",type_7
7,balances,product,"Producto (préstamos personal, tarjeta de crédi...",product_2
8,balances,entity,"Institución financiera, puede ser un banco, un...",entity_2
9,balances,balance_amount,Monto del saldo del crédito,"3,816442"
10,balances,days_default,Cantidad de días de atraso en sus pagos (días ...,0
11,liabilities,month,Mes de datos (1: indica que es el primer mes (...,6
12,liabilities,period,Periodo de extracción de los datos,period_1
13,liabilities,ID,Identificador único,292d7d9062d3c9e8448dd04236ef3389a04e517d057883...
14,liabilities,product_1,Saldo mensual promedio de cuentas de ahorros,"1,3245"
15,liabilities,product_2,Saldo mensual promedio de otros tipos de cuentas,"0,2344"
16,movements,month,Mes de datos (1: indica que es el primer mes (...,6
17,movements,period,Periodo de extracción de los datos,period_1
18,movements,ID,Identificador único,292d7d9062d3c9e8448dd04236ef3389a04e517d057883...
19,movements,type_1,Monto de compras en supermercados,"2,12"
20,movements,type_2,Monto de compras en restaurantes,"2,85"
21,movements,type_3,Monto de compras en salud,"2,82"
22,movements,type_4,Monto de compras en transporte,"3,11"
23,customer,ID,Identificador único,292d7d9062d3c9e8448dd04236ef3389a04e517d057883...
24,customer,Age,Edad,"3,82"
25,customer,Income,Ingreso mensual estimado,"4,58"
26,customer,time_from_specialized,Antigüedad profesional,"4,54"
27,customer,Type_job,"Tipo de empleo: dependiente, independiente, in...",type_2
28,customer,bureau_risk,"Buró de crédito, indica el score según el comp...",category_4
29,customer,payroll,Monto de pago recibido por nómina,"4,41"
30,customer,Product_1,Posee tarjeta de crédito,Yes
31,customer,Product_2,Posee préstamo personal,Yes
32,customer,Product_3,Posee préstamo vehicular o préstamos hipotecario,No
33,customer,Product_4,Posee cuenta(s) de ahorro,Yes
34,customer,Ofert_1,Tiene oferta de préstamo personal,Yes
35,customer,Ofert_2,Tiene oferta de tarjeta de crédito,Yes
36,customer,Ofert_3,Tiene oferta de compra de deuda,No
37,digital,month,Mes de datos (1: indica que es el primer mes (...,6
38,digital,ID,Identificador único,292d7d9062d3c9e8448dd04236ef3389a04e517d057883...
39,digital,dig_1,Mediana del tiempo de duración de las sesiones...,"2,12"
40,digital,dig_2,Número de acciones ejecutadas en promedio en u...,"2,85"
41,digital,dig_3,Número de secciones diferentes visitadas en pr...,"2,82"
42,digital,dig_4,Máximo número de días entre visitas a los plat...,"3,11"
43,digital,dig_5,Días promedio entre visitas a las plataformas ...,"3,45"
44,digital,dig_6,Antigüedad en plataforma digitales en un mes,"3,75"
45,digital,dig_7,Cantidad de visitas a la sección cuentas en un...,"4,04"
46,digital,dig_8,Cantidad de inicios de sesión en las plataform...,"4,33"
47,digital,dig_9,Cantidad de visitas a la sección posición glob...,"4,62"
48,digital,dig_10,Cantidad de visitas a la sección de tarjetas e...,"4,92"
49,digital,dig_11,Cantidad de visitas en un mes,"3,12"

### Digital

In [38]:
# Columns
digital.columns

Index(['month', 'ID', 'dig_1', 'dig_2', 'dig_3', 'dig_4', 'dig_5', 'dig_6',
       'dig_7', 'dig_8', 'dig_9', 'dig_10', 'dig_11', 'period'],
      dtype='object')

In [39]:
# Unique values
num_unique_values = digital.nunique() 
print(num_unique_values)

month         12
ID        645641
dig_1       8757
dig_2      42234
dig_3      31818
dig_4         69
dig_5      19206
dig_6       7571
dig_7        147
dig_8        214
dig_9        209
dig_10       124
dig_11       206
period         9
dtype: int64

In [40]:
# Data dimension
print(f"Data dimension: {digital.shape[0]} rows and {digital.shape[1]} columns")
digital.head()

Data dimension: 6379650 rows and 14 columns

,month,ID,dig_1,dig_2,dig_3,dig_4,dig_5,dig_6,dig_7,dig_8,dig_9,dig_10,dig_11,period
0,9,bdc817ca1b6ba0deb42d70bee75e4a4e1a1df5d3c9578c...,0.7329,2.2512,2.9029,3.8084,3.0466,3.2779,0.0000,1.0905,2.2750,0.0000,1.7480,period_9
1,3,7474e915adcf95e11cd85fe1dcb660fee704697ae31f87...,4.2287,4.6974,2.9029,2.7366,2.2263,4.1667,1.9824,1.0905,1.6208,0.0000,0.9672,period_9
2,11,506ff183d63da44a9106db1202b2b9cc53ca680ddca44d...,1.7268,3.8201,2.7194,2.5198,1.4561,4.2153,4.2105,2.1810,3.6138,0.0000,3.3457,period_9
3,4,f59effceec688938accd3f6b5d0684edb2ad484e7bef40...,0.0326,1.6499,1.6981,3.7114,2.9214,3.0473,0.0000,1.0905,2.2750,1.1569,1.7480,period_9
4,3,a0d7da88c4d28b52afba4f4bfa066356042bb0bfe8be8b...,2.1337,4.0528,3.3814,2.9244,1.3486,4.3069,3.6679,1.7284,3.5024,0.0000,3.2128,period_9